.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundcolormodal{
  background-color: rgb(240, 236, 230);
  border-radius: 20px;
  text-align: center;
}

.backgroundcolormodal1{
  background-color: rgb(207, 210, 218);
  border-radius: 20px;
  text-align: center;
}
.modalheader{
  background:rgba(54, 170, 216, 0.884);
  background-image: url(https://img.freepik.com/free-photo/multi-colored-abstract-texture-background_23-2147836340.jpg);
}

.search_container{
  width:380px;
  display: flex;
  text-align: left justify;
}
.inputfield{
  text-align: center;
  width:500px;
}